.login-page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.login-page > .illustration {
  width: 30rem;
  height: 30rem;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 4rem 0;
  width: 19rem;
  height: 22.5rem;
  background-color: white;
  border-radius: var(--page-border-radius);
  /* From Figma */
  box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.25);
}

.login-form-button {
  width: 15rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.login-form-container > .illustration {
  width: 10rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 992px) {
  .login-page > .illustration {
    display: none;
  }
}