.login-page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.login-page > .illustration {
  width: 42vw;
  height: auto;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 5.2rem 0;
  width: 26rem;
  height: 31rem;
  background-color: white;
  border-radius: var(--page-border-radius);
  /* From Figma */
  box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.25);
}

.login-form-button {
  width: 18rem;
}

.login-form-container > .illustration {
  width: 13rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .login-page > .illustration {
    display: none;
  }
}