.notification-bell-icon-button {
    padding: 0.5rem 0.5rem;
    position: fixed;
    top: 1rem;
    right: 7rem;
    border-radius: 50%;
}

.notification-overlay {
    padding: 4rem 0;
    height: 23.813rem;
    width: 30.313rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}