.event-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: min-content;
  padding: 1rem;
  border-width: 0px;
  border-radius: 18px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.event-poster-image {
  width: 12rem;
  height: 8rem;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.25))
}

.event-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 18rem;
  max-height: 8rem;
  margin-left: 1rem;
}

.event-title {
  width: 100%;
  color: var(--color-primary);
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: start;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.event-pills-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.event-pills-container > .pill-padding {
  font-size: 0.6rem;
  margin-right: 0.5rem;
  font-weight: 400;
}

.event-club-label {
  display: flex;
  align-items: center;
  margin: 0.8rem 0;
}
.event-club-label > .icon-container {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.5rem;
}

.event-club-name {
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
  color: var(--color-primary);
}

.event-card-buttons-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.event-card-buttons-container > button {
  padding: 0.2rem 1.6rem;
  margin-right: 0.75rem;
}
