.ECard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 13rem;
    border-radius: 1.3rem;
    margin-left: 20px;
    
}
.imgcard {
    padding-top: 0.5rem;
    border-radius: 0.5rem;
    
    width: 15rem;
    height: 8rem;
}

.ititle{
    font-size: 1rem;
    font-weight: bolder;
}

.logoclub{
    width: 2rem;
}

.textclub{
    font-size: 0.8rem;
    font-weight: lighter;
}
