.sag-event-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 18rem;
    border-radius: 1.3rem;
    margin-left: 1.33rem;
    margin: 20px;
    cursor:pointer;
}

.sag-event-card__badge {
    display: inline-flex;
    position:absolute;
    top: 12.2rem;
    left: 0.5rem;

}

.sag-event-card__image {
    padding-top: 0.8rem;
    border-radius: 0.5rem;
    width: 18.1rem;
    height: 10.15rem;
}

.sag-event-card__title {
    position: absolute;
    left: 0.8rem;
    font-size: 1.1rem;
    font-weight: bolder;
    top: 10.75rem;
}

.sag-event-card__club__logo {
    width: 2rem;
}

.sag-event-card__club__name {
    font-size: 0.8rem;
    font-weight: bolder;
    padding-top: 0.6rem;
    line-height: 0.8rem;
    padding-left: 0.18rem;
}
.sag-event-card__club {
    display: inline-flex;
    position: absolute;
    bottom: 0.4rem;
    left: 0.6rem;
}

.sag-event-card__date__box {
    height: 0;
    padding: 7%;
    width: 7%;
    background-color: var(--color-primary);
    border-radius: 0.4rem;
   right: 0.8rem;
   bottom: 0.8rem;
   position: absolute;
}


.sag-event-card__date {
    position: absolute;
    font-size: 1.2rem;
    font-weight: bolder;
    color: white;
    top: 0.26rem;
    left: 0.73rem;
}
.sag-event-card__month {
    position: absolute;
    font-size: 0.7rem;
    font-weight: bolder;
    color: white;
    top: 1.46rem;
    left: 0.8rem;
}

.sag-event-card__notification {
    background-color: white;
    cursor: pointer;
    position: absolute;
    right: 0.8rem;
    bottom: 4.3rem;
    width: 7%;
    height: 0;
    padding: 7%;
    border-radius: 0.5rem;
    box-shadow: 0.13rem 0.26rem 0.53rem rgba(0, 0, 0, 0.25);
}

.sag-event-card__notification:active {
 
  transform: translateY(0.13rem);
}
.sag-event-card__bell {
    position: absolute;
    top: 0.73rem;
    left: 0.8rem;

}
.sag-event-card__gallery {
    position: absolute;
    top: 0.73rem;
    left: 0.8rem;

}
.sag-event-card__belloff {
    position: absolute;
    top: 0.73rem;
    left: 0.8rem;

}

.sag-event-card:hover {
    box-shadow: 0.13rem 0.26rem 0.53rem rgba(0, 0, 0, 0.25);
}
