.sagbadge-padding {
    padding: 0.16rem 0.5rem;
    font-size: 0.97rem;
}

.badge {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
  
.sagicon {
    padding-bottom: 0.2rem;
    fill: white;
}

.sagchild {
  display: none;
}

.badge:hover .sagchild {
  display: block;
}