.sag-badge {
    padding: 0.16rem 0.42rem;
    font-size: 0.7rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    gap: 0.3rem;
    margin:0.2rem;
}