.sag-button--primary, .sag-button--secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  padding: 0.4rem;
}
.sag-button--outline-primary, .sag-button--outline-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  padding: 0.4rem;
}
.sag-button--primary {
  background-color: var(--color-primary);
  color: white;
}
.sag-button--primary:hover {
  background-color: var(--color-primary-light) !important;
  color: white !important;
}
.sag-button--primary:active {
  background-color: var(--color-primary-light) !important;
  color: white !important;
  filter: none;
}
.sag-button--primary:focus {
  background-color: var(--color-primary);
  color: white;
}
.sag-button--primary.show {
  background-color: var(--color-primary);
  color: white;
}

.sag-button--secondary {
  background-color: white;
  color: var(--color-primary);
}
.sag-button--secondary:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
.sag-button--secondary:active {
  background-color: var(--color-secondary) !important;
  color: var(--color-primary) !important;
  filter: none;
}
.sag-button--secondary:focus {
  background-color: white;
  color: var(--color-primary);
}
.sag-button--secondary.show {
  background-color: white;
  color: var(--color-primary);
}

/* Outline Primary Button */

.sag-button--outline-primary {
  background-color: transparent;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.sag-button--outline-primary:hover {
  background-color: var(--color-primary);
  color: white;
  border-color: var(--color-primary);
}

.sag-button--outline-primary:active {
  background-color: var(--color-primary) !important;
  color: white !important;
  border-color: var(--color-primary);
}

/* Outline Secondary Button */

.sag-button--outline-secondary {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.sag-button--outline-secondary:hover {
  background-color: white;
  color: var(--color-primary);
  border-color: white;
}

.sag-button--outline-secondary:active {
  background-color: white !important;
  color: var(--color-primary) !important;
  border-color: white;
}

/* Icons. */
.sag-button__icon__container--left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.67rem;
}
.sag-button__icon__container--right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.67rem;
}
.sag-button__icon__spinner {
  width: 1.2rem;
  height: 1.2rem;
}

/* Loading State. */
.sag-button--primary.sag-button--loading {
  background-color: var(--color-primary-light) !important;
  color: white !important;
  filter: none;
}
.sag-button--secondary.sag-button--loading {
  background-color: var(--color-secondary) !important;
  color: var(--color-primary) !important;
  filter: none;
}
