.sag-toast {
  min-height: 3.7rem;
  max-height: min-content;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.2rem;
  border-radius: 8px;
}

.sag-toast__body {
  padding: 0;
  margin: 0;
  height: 100%;
}
