.profile-dropdown__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--rounded-button-border-radius);
  border-color: transparent;
  filter: none;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}
/* Remove default bootstrap toggle icon */
.profile-dropdown__button::after {
  display: none;
}

.profile-dropdown__button__username {
  max-width: 8rem;
  font-weight: 600;
}

.profile-dropdown__button__profile-image {
  width: 1.4rem;
  height: 1.4rem;
  border: 1px solid var(--color-primary);
  margin-right: 0.5rem;
  border-radius: 50%;
}

.profile-dropdown__menu {
  width: 100%;
  border-radius: 12px;
  border-color: transparent;
  filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.25));
}

.profile-dropdown__menu__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  color: var(--color-primary);
  font-size: 0.8rem;
  font-weight: 600;
}
.profile-dropdown__menu__item:hover {
  color: var(--color-primary);
  font-size: 0.8rem;
  font-weight: 600;
}
.profile-dropdown__menu__item:active {
  color: var(--color-primary);
  font-size: 0.8rem;
  font-weight: 600;
}

.profile-dropdown__menu__item > .sag-icon {
  margin-right: 1rem;
}

.profile-dropdown__menu__item--logout {
  color: var(--color-logout-red);
}
.profile-dropdown__menu__item--logout:hover {
  color: var(--color-logout-red);
}
.profile-dropdown__menu__item--logout:active {
  color: var(--color-logout-red);
  background-color: var(--color-secondary);
}
