.form-check-input {
  cursor:pointer;
  border-color: var(--color-primary);
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.form-check-input:focus {
  border-color: var(--color-primary);
}