:root {
  /* Theme colors */
  --color-primary: #0C3B5B;
  --color-primary-light: #2A648B;
  --color-secondary: #DCDCDC;
  --color-main-background: #EDEDED;

  /* Blacks */
  --color-black-400: #A7A7A7;
  
  /* Custom */
  --color-hyperlink-blue: #729AE8;

  --color-logout-red: #DC3545;
}