/* Import font families */
/* Alice */
@import url(https://fonts.googleapis.com/css2?family=Alice&display=swap);

/* Custom Basic Classes */
.title {
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
}

.sub-text {
  color: var(--color-black-400);
  font-size: 0.75rem;
}

.hyperlink {
  color: var(--color-hyperlink-blue);
  text-decoration: none;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
